@charset "UTF-8";
.about .manifesto p {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    line-height: 1.85;
    word-break: keep-all;
}

.about .about-photos {
    text-align: center;
    padding: 0 5%;
}

.about .about-photos img {
    width: 100%;
    height: auto;
    margin-bottom: 60px;
}