@charset "UTF-8";
.entry-page {
    width: 100%;
    min-height: calc(100vh - 450px);
}

.entry-page .login {
    background-color: #e6e5e0;
    padding: 80px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.entry-page .login label {
    display: block;
    font-size: 15px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 5px;
}

.entry-page .login input[type=text],.entry-page .login input[type=password], .entry-page .login input[type=email] {
    background-color: #e6e5e0;
    border: 1px solid #0e3773;
    border-radius: 0;
    color: #0e3773;
    outline: none;
    font-size: 14px;
    font-family: 'Avenir Next','KoPub Dotum',sans-serif;
    height: auto;
    padding: 15px;
    width: 100%;
    -webkit-appearance: none;
}

.entry-page .login .login-header {
    margin-bottom: 30px;
}

.entry-page .login .security {
    display: none;
}

.entry-page .login .login-footer {
    text-align: center;
}

.entry-page .login .login-footer .login-extras {
    margin: 30px 0 40px;
}

.entry-page .login .login-footer .login-extras * {
    color: #d3a05f;
    font-weight: 700;
    margin: 0 10px;
}

.entry-page .login .login-footer .login-extras .guest-login-button {
    cursor: pointer;
    display: none;
}

.entry-page .login .login-footer .login-extras .displaynone + .guest-login-button {
    display: inline-block;
}

.entry-page .login .login-footer .login-actions {
    display: flex;
    justify-content: space-between;
}

.entry-page .login .login-footer .primary-button {
    width: calc(50% - 10px);
    text-transform: uppercase;
}

@media (max-width: 900px) {
    .entry-page .login {
        padding:50px;
    }
}

@media (max-width: 600px) {
    .entry-page .login {
        padding:30px;
    }

    .entry-page .login label {
        font-size: 13px;
    }

    .entry-page .login input[type=text],.entry-page .login input[type=password] {
        padding: 10px;
    }

    .entry-page .login .login-header {
        margin-bottom: 0;
    }

    .entry-page .login .login-footer .login-extras {
        margin: 20px 0;
    }

    .entry-page .login .login-footer .login-extras * {
        margin: 7px;
    }

    .entry-page .login .login-footer .primary-button {
        width: calc(50% - 5px);
    }
}

.entry-page .guest-login {
    display: none;
    margin-top: 30px;
}

.entry-page .guest-login.is-active {
    display: block;
}

.entry-page .guest-login .order-number-field input {
    width: calc(50% - 8px);
}

.entry-page .guest-login .order-number-field #order_id1 {
    margin-right: 5px;
}

.entry-page .guest-login .order-number-field #order_id2 {
    margin-left: 5px;
}

.entry-page .guest-login .login-footer .primary-button {
    font-family: 'Avenir Next','KoPub Dotum',sans-serif;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    margin-top: 30px;
}

.signup-form {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.signup-form .form-group {
    border: 1px solid #0e3773;
    padding: 30px 45px;
    margin-bottom: 80px;
}

.signup-form .form-group table tr > * {
    padding: 5px 0;
}

.signup-form .form-group table tr th {
    line-height: 50px;
    text-align: left;
    width: 135px;
}

.signup-form .form-group table tr th img {
    display: none;
}

.signup-form .account-type {
    display: none;
}

.signup-form .agreements {
    border: 1px solid #0e3773;
    padding: 15px 0;
    margin-bottom: 60px;
}

.signup-form .agreement-block {
    padding: 15px 45px;
}

.signup-form .agreement-block h3 {
    font-size: 15px;
    margin-bottom: 10px;
}

.signup-form .agreement-block .content {
    border: 1px solid #0e3773;
    height: 150px;
    overflow-y: scroll;
    padding: 20px;
    margin-bottom: 10px;
}

.signup-form .primary-button {
    min-width: 150px;
}

@media (max-width: 600px) {
    .signup-form .form-title {
        margin-bottom:20px;
    }

    .signup-form .form-group {
        padding: 20px;
        margin-bottom: 40px;
    }

    .signup-form .form-group table tr > * {
        display: block;
    }

    .signup-form .form-group table tr th {
        line-height: normal;
    }

    .signup-form .agreements {
        padding: 10px 0;
        margin-bottom: 20px;
    }

    .signup-form .agreement-block {
        padding: 10px 20px;
    }

    .signup-form .primary-button {
        width: 100%;
    }
}

.signup-results {
    border: 1px solid #0e3773;
    text-align: center;
    padding: 45px;
}

.signup-results ul li {
    padding: 3px 0;
}

.signup-results .result-label {
    display: inline-block;
    font-weight: 700;
    margin-right: 3px;
}

.signup-results .primary-button {
    margin-top: 30px;
}

.entry-page .login .auto-login {
    text-align: center;
}

.entry-page .login .auto-login label {
    display: inline-block;
    margin-left: 5px;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('/_fm/fonts/AvenirNext-Medium.eot');
    src: url('/_fm/fonts/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'),url('/_fm/fonts/AvenirNext-Medium.woff') format('woff'),url('/_fm/fonts/AvenirNext-Medium.ttf') format('truetype'),url('/_fm/fonts/AvenirNext-Medium.svg#AvenirNext-Medium') format('svg');
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;}

@font-face {
    font-family: 'Avenir Next';
    src: url('/_fm/fonts/AvenirNext-DemiBold.eot');
    src: url('/_fm/fonts/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'),url('/_fm/fonts/AvenirNext-DemiBold.woff') format('woff'),url('/_fm/fonts/AvenirNext-DemiBold.ttf') format('truetype'),url('/_fm/fonts/AvenirNext-DemiBold.svg#AvenirNext-DemiBold') format('svg');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;}

@font-face {
    font-family: 'Avenir Next';
    src: url('/_fm/fonts/AvenirNext-Bold.eot');
    src: url('/_fm/fonts/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'),url('/_fm/fonts/AvenirNext-Bold.woff') format('woff'),url('/_fm/fonts/AvenirNext-Bold.ttf') format('truetype'),url('/_fm/fonts/AvenirNext-Bold.svg#AvenirNext-Bold') format('svg');
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;}

@font-face {
    font-family: 'KoPub Dotum';
    src: url('/_fm/fonts/KoPubDotumPM.eot');
    src: url('/_fm/fonts/KoPubDotumPM.eot?#iefix') format('embedded-opentype'),url('/_fm/fonts/KoPubDotumPM.woff') format('woff'),url('/_fm/fonts/KoPubDotumPM.ttf') format('truetype'),url('/_fm/fonts/KoPubDotumPM.svg#KoPubDotumPM') format('svg');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;}

@font-face {
    font-family: 'KoPub Dotum';
    src: url('/_fm/fonts/KoPubDotumPB.eot');
    src: url('/_fm/fonts/KoPubDotumPB.eot?#iefix') format('embedded-opentype'),url('/_fm/fonts/KoPubDotumPB.woff') format('woff'),url('/_fm/fonts/KoPubDotumPB.ttf') format('truetype'),url('/_fm/fonts/KoPubDotumPB.svg#KoPubDotumPB') format('svg');
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*:before,*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::placeholder {
    color: rgba(14,55,116,0.5) !important;
    opacity: 1;
}

:-ms-input-placeholder {
    color: rgba(14,55,116,0.5);
}

::-ms-input-placeholder {
    color: rgba(14,55,116,0.5);
}
