@charset "EUC-KR";
/* Modal style */
.modal {
    position: absolute;
    display: none;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    left: 0; width : 100%; height : 100%; overflow : auto;
    background-color: #d4ccbb;
    overflow: auto;
    height: 100%;
    width: 100%;
}

/* Modal content */
.modal-content {
    position: absolute;
    top: 0; 
    left: 35%;
    transform: translate(0%, 0%);
    width: 40%; /* 전체 너비의 80%로 설정 */
    max-width: 400px; /* 최대 너비를 400px로 설정 */
    padding : 40px;
    text-align: center;
    background-color: rgb(255, 255, 255); 
    border-radius : 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#passwordChangeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#passwordChangeForm input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

#passwordMatchMessage {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
}