@charset "UTF-8";

/* 테이블 스타일 */
#result table {
    border-collapse: collapse;
}

#result table th {
  background-color: #f2f2f2; /* 헤더 배경색 */
  border: 1px solid #dddddd; /* 테두리 스타일 */
  padding: 8px; /* 셀 안의 내용과 테두리 사이의 여백 */
  text-align: center; /* 텍스트를 가운데 정렬 */
}

/* 테이블 셀 스타일 */
#result table td {
  border: 1px solid #dddddd; /* 테두리 스타일 */
  padding: 8px; /* 셀 안의 내용과 테두리 사이의 여백 */
  text-align: center; /* 텍스트를 가운데 정렬 */
  font-size: 10px;
}
#result tr:nth-child(even) {
    background-color: #f2f2f2;
}
#result tr:nth-child(odd) {
    background-color: #f2f2f2;
}


#result tr:hover {
    background-color: #ddd;
}

